[Desktop Entry]
Version=1.0
Name=CommentIt
Comment=Decentralized Commenting App
Exec=/usr/bin/env comment-it
Icon=document-edit
Terminal=false
Type=Application
Categories=Utility;Network;
