[Desktop Entry]
Version=1.0
Name=Comment Board
Comment=Decentralized Comment Board
Exec=/usr/bin/env comment-board
Icon=view-list-text
Terminal=false
Type=Application
Categories=Utility;Network;
