[Desktop Entry]
Version=1.0
Name=KDApp Wallet
Comment=Kaspa Decentralized Application Wallet
Exec=/usr/bin/env kdapp-wallet
Icon=wallet-filled
Terminal=false
Type=Application
Categories=Utility;Finance;
